body {
    width: 930px;
    height: 1080px;
    background-color: white;
    background-image: url(../img/bg.svg);
    background-position: top;
    background-size: 1920px;
    background-repeat: repeat-y;
    margin-bottom: 128px !important;
}
/* fuck you ewbkit!!!!!! bitchinlyfe2009 One Apple Park Way, Cupertino, California*/
::-webkit-scrollbar
{
    display: none;
}
.scrollbar-ms-gecko
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
