:root {
    font-family: 'MS Gothic', sans-serif;
    --dark: black;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    color: var(--dark);
}

img {
    image-rendering: pixelated;
}

* {
    scrollbar-width: none;
}

.px64 {
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    font-weight: 200;
}

.centre {
    text-align: center;
    justify-content: center;
}

.heading {
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: 8px;
    font-weight: 200;
}

.heading h2 {
    margin-left: 8px;
}

.flexrow {
    display: flex;
    flex-flow: row nowrap;
}

.songcard {
    display: flex;
    max-height: 24vh;
    max-width: 18vw;
    min-width: 43%;
    color: white;
    background: var(--dark);
    border: var(--dark);
    padding: 15px;
    margin: 15px;
    gap: 15px;
    text-decoration: none;
}

.songcard b {
    text-decoration: underline
}

.songcard img {
    height: 16vh;
    width: 8vw;
    object-fit: cover;
    image-rendering: auto
}

.icontext {
    height: 32px;
    line-height: 32px;
}

.icontext img {
    margin: 0 8px;
}

.leftcolumn {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    margin-bottom: 10px;
}

.leftcolumn a, .leftcolumn p {
    padding: 8px 0;
}

.rightcolumn {
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
    width: 50%;
    margin-bottom: 10px;
}

.rightcolumn span {
    padding: 8px 0;
    justify-content: right;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 4px;
    margin: 0;
    font-weight: 200;
}

p, a, strong, ul {
    margin: 0;
    line-height: 1.5;
}
p {
    font-size: 16px
}

summary {
    cursor: pointer;
}

details {
    background-color: var(--dark);
    color: white;

    padding: 8px;
    margin: 8px 0;
    max-width: 400px;
}

details p {
    line-height: 30px;
}

details a {
    display: inline-block;
    margin: 8px auto 0 auto;
}

details code {
    display: block;

    background-color: white;
    color: var(--dark);

    padding: 1px;

    cursor: text;
}

a {
    color: var(--dark);
}

.downlink {
    margin-left: 48px;
    font-size: smaller;
}

.bar_bottom {
    color: white;
    position: absolute;
    bottom: 0;
    background-color: var(--dark);
    padding: 5px;
    padding-bottom: 7px;
    width: 100vw;
    white-space: nowrap;
}

.bar_top {
    color: white;
    top: 0;
    background-color: var(--dark);
    padding: 8px;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar_button {
    background-color: var(--dark);
    bottom: 0;
    margin-left: 10px;
}

.navbar_button img {
    height: 10px;
}

iframe {
    border: none;
    width: 100vw;
    height: calc(100vh - 34px);
}

.yep {
    font-size: smaller;
    padding-bottom: 4px;
}

hr {
    background-color: var(--dark);
    border: none;
    height: 1px;
}

.kylometra_portrait {
    float: right;
    margin-left: 8px;
}

.scepixel_fla_portrait {
    float: left;
    margin-right: 8px;
}

.hits {
    margin-top: -10px;
    margin-bottom: -8px;
    padding-right: 10px;
}

.scroll-indicator {
    width: 930px;
    height: 128px;
    background: white;
    background: linear-gradient(0deg, white 0%, white 25%, rgba(255,255,255,0) 100%);
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.top_image {
    background-image:url(../art/yamashiroyami.png);
    background-position: center;
    background-size: cover;
    width:70vw; 
    height: 100vh; 
    mask-image: linear-gradient(90deg, white 95%, transparent 100%);
    mask-size: 70vw;
    mask-position: right;
    mask-repeat: repeat-y;
    -webkit-mask-image: linear-gradient(90deg, white 95%, transparent 100%);
    -webkit-mask-size: 70vw;
    -webkit-mask-position: right;
    -webkit-mask-repeat: repeat-y;
}